* {
    font-family: 'Lato', sans-serif;
}

body{
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAYADAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////////////////////w////wD///8A///+AH///gB///4Af//+AH///wD///8A////w///////////////////8='), auto;
}

a {
    text-decoration: none;
    color: hsl(221, 45%, 47%);
}

/* .header {
    background-color: hsla(0, 0%, 90%, 0.322);
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 0.5%;
} */
.hero {
    /* background-color: hsla(0, 0%, 90%, 0.322); */
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 0.5%;
}

h4 {
    margin-top: 20px;
}

/* Navbar components */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: hsl(221, 39%, 11%); */
    margin-bottom: 20px;
    height: 3.5em;
}

.navbar .navbar-elem {
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: 500;
}

.navbar .navbar-elem:hover {
    /* background-color: hsl(221, 45%, 47%); */
    color: hsla(0, 22%, 32%, 0.458);
    /* padding: 4px; */
}

.navbar .navbar-left {
    flex: 1;
    margin-left: 10px;
    
}

.navbar .navbar-right {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

/* About */

.about {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: hsl(0, 0%, 20%);
}

.profile-pic {
    margin-top: 3%;
    width: 30%;
    flex-shrink: 0;
}

.para {
    width: 60%;
    text-align: justify;
    font-size: 16px;
}

h1{
    color: hsl(221, 39%, 11%);
    font-size: 2rem;
}

header {
    padding: 10px;
}
p {
    padding: 5px;
}

.profimg {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.experience-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    /* border: none;
    border-radius: 10px; */
    padding: 20px;
    color: hsl(0, 0%, 20%);
    /* background-color: hsla(0, 8%, 79%, 0.37); */
    /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.06); Subtle shadow */
    /* transition: transform 0.1s ease, box-shadow 0.1s ease; Add smooth interaction */
}

.experience-card a {
    text-decoration: none;
    color: hsl(221, 45%, 47%);
    font-size: 1.2rem;
    flex: 1;
    /* border-right: 4px solid #6f7070b4;
    border-top: ; */
}

.experience-card .experience-card-content {
    flex: 2;
    margin-left: 20px;
    text-align: left;
}

.experience-card .experience-card-title {
    font-weight: 600;
}

.experience-card .experience-card-date {
    font-size: smaller;
}

.experience-card .experience-card-desc {
    margin-top: 10px;
    font-size: 15px;
}


.timeline-container {
  position: relative;
  padding-left: 20px;
  border-left: 4px solid #6f7070b4;
  margin-left: 20px;
  color: hsl(0, 0%, 20%);
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 40px;
}

.timeline-marker {
  position: absolute;
  left: -10px;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: #383838;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
}

.timeline-content {
  background: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-date {
  font-weight: 600;
}

/* Contact */
.contact {
    margin-left: 15%;
    margin-right: 15%;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5%;
  margin-top: -2%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.submit-button {
  background-color: hsl(131, 27%, 45%);
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%;
}

.submit-button:hover {
  background-color: hsl(221, 46%, 30%);
}

.form-result {
  margin-top: 10px;
  font-weight: bold;
  color: #28a745;
}


/* Project */

.projects-container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.hero {
    text-align: center;
}

.subtitle {
    font-size: 1.2rem;
    color: hsl(0, 0%, 40%);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.read-more-btn {
    background: none;
    border: none;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 5px;
    padding: 0;
}

.read-more-btn:hover {
    text-decoration: underline;
}

.source-code-btn {
    background: #007bff;
    color: white;
    padding: 10px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.source-code-btn:hover {
    background: #0056b3;
}

.project-card-tags {
    margin-bottom: 15px;
}

.project-card-tag {
    display: inline-block;
    background-color: hsla(0, 0%, 24%, 0.813);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-right: 5px;
    margin-bottom: 5px;
} 

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f9fa; /* Light gray background */
  border-top: 1px solid #ddd;
  margin-top: 1%;
}

.footer-icons {
  display: flex;
  gap: 1.5rem;
}

.footer-icons a {
  color: #333; /* Dark gray color for icons */
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #0077b5; /* Highlight color for icons */
}

.footer p {
  font-size: 0.9rem;
  color: #666; /* Muted text color */
  margin: 0;
}

/* Blog */

.blog {
    margin-left: 15%;
    margin-right: 15%
}

.article {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    color: hsl(0, 0%, 20%);
}

.article-content img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensures no extra spacing under images */
}

.math {
  display: inline;
  font-style: italic;
}

.math.display {
  display: block;
  margin: 1em 0;
  text-align: center;
}

.csl-entry {
    margin-bottom: 10px;
    margin-left: 10px;
}