* {
    font-family: 'Lato', sans-serif;
}

body{
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

a {
    text-decoration: none;
    color: hsl(221, 45%, 47%);
}

.header {
    /* background-color: hsla(0, 0%, 90%, 0.322); */
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 0.5%;
}

h4 {
    margin-top: 20px;
}

/* Navbar components */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: hsl(221, 39%, 11%); */
    margin-bottom: 20px;
    height: 3.5em;
}

.navbar .navbar-elem {
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: 500;
}

.navbar .navbar-elem:hover {
    background-color: hsl(221, 45%, 47%);
    color: hsl(0, 0%, 98%);
    padding: 10px;
}

.navbar .navbar-left {
    flex: 1;
    margin-left: 10px;
    
}

.navbar .navbar-right {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

/* About */

.about {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: hsl(0, 0%, 20%);
}

.profile-pic {
    width: 30%;
    flex-shrink: 0;
}

.para {
    width: 60%;
    text-align: justify;
    font-size: 16px;
}

h1{
    color: hsl(221, 39%, 11%);
}

header {
    padding: 10px;
}
p {
    padding: 5px;
}

.profimg {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.experience-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    color: hsl(0, 0%, 20%);
    background-color: hsla(0, 8%, 79%, 0.37);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Add smooth interaction */
}

.experience-card a {
    text-decoration: none;
    color: hsl(221, 45%, 47%);
    flex: 1;
}

.experience-card .experience-card-content {
    flex: 2;
    margin-left: 20px;
    text-align: left;
}

.experience-card .experience-card-title {
    font-weight: 600;
}

.experience-card .experience-card-date {
    font-size: smaller;
}

.experience-card .experience-card-desc {
    margin-top: 10px;
    font-size: 15px;
}


/* Contact */
.contact {
    margin-left: 15%;
    margin-right: 15%;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5%;
  margin-top: -2%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.submit-button {
  background-color: hsl(131, 27%, 45%);
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%;
}

.submit-button:hover {
  background-color: hsl(221, 46%, 30%);
}

.form-result {
  margin-top: 10px;
  font-weight: bold;
  color: #28a745;
}


/* Project */

.project {
    margin-left: 15%;
    margin-right: 15%
}

.projectcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background-color: hsl(0, 0%, 96%);
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.project-card-name {
    font-size: 1.5rem;
    color: hsl(221, 39%, 11%);
    margin-bottom: 10px;
}

.project-card-tags {
    margin-bottom: 15px;
}

.project-card-tag {
    display: inline-block;
    background-color: hsl(221, 45%, 47%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

.project-card-desc {
    color: hsl(0, 0%, 20%);
    font-size: 1rem;
    line-height: 1.5;
}

.read-more-btn {
    background: none;
    border: none;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 5px;
    padding: 0;
}

.read-more-btn:hover {
    text-decoration: underline;
}

.source-code-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 10px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #000000;
    border: none;
    border-color: #333;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.source-code-btn:hover {
    background-color: hsl(94, 65%, 20%);
    color: white;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f9fa; /* Light gray background */
  border-top: 1px solid #ddd;
  margin-top: 1%;
}

.footer-icons {
  display: flex;
  gap: 1.5rem;
}

.footer-icons a {
  color: #333; /* Dark gray color for icons */
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #0077b5; /* Highlight color for icons */
}

.footer p {
  font-size: 0.9rem;
  color: #666; /* Muted text color */
  margin: 0;
}

/* Blog */

.blog {
    margin-left: 15%;
    margin-right: 15%
}

.article {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    color: hsl(0, 0%, 20%);
}

.article-content img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensures no extra spacing under images */
}

.math {
  display: inline;
  font-style: italic;
}

.math.display {
  display: block;
  margin: 1em 0;
  text-align: center;
}

.csl-entry {
    margin-bottom: 10px;
    margin-left: 10px;
}